@import url('colors.css');

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--platinium);
    background-color: var(--jet);
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .form-control:focus {
        color: var(--platinium);
        background-color: var(--jet);
        border-color: var(--spring-green);
        outline: 0;
        box-shadow: 0 0 0 0.1rem var(--spring-green);
    }

.input-group {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

    .input-group input {
        flex: 1;
        margin-right: 10px;
    }

    .input-group button {
        flex-shrink: 0;
    }
