.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    max-width: unset;
    padding-inline: 10%;
}

.container h1 {
    margin-bottom: 20px;
    color: #333;
    /* font-size: 24px; */
}

.container input[type="text"],
.container button {
    padding: 10px 20px;
    /* margin-top: 10px; */
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 40rem;
}
/* 
.container input[type="text"]{
    margin-bottom: 5px;
} */

.container input[type="text"]::placeholder {
    color: #999;
}

.container button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container button:hover {
    background-color: #0056b3;
}


.card-deck{
    display: flex!important;
    flex-wrap: nowrap!important;
    flex-direction: row!important;
    gap: 10px!important;
    justify-content: center!important;
}