@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<head>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
</head>

<div class="header">
    <a href="/">
        <img src="logo.svg" alt="Logo" class="logo" />
    </a>
    <div class="auth-control">
        <button type="button" class="btn btn-primary btn-spring-green" @onclick="Login">Sign In</button>
        <button type="button" class="btn btn-primary btn-spring-green" @onclick="Register">Sign Up</button>
    </div>
</div>
<div class="main-container">
    <main>
        @Body
    </main>
</div>

@code {
    private void Login()
    {
        NavigationManager.NavigateTo("/login");
    }

    private void Register()
    {
        NavigationManager.NavigateTo("/register");
    }
}