@inherits LayoutComponentBase
<head>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
</head>

<div class="header">
    <a href="/">
        <img src="logo.svg" alt="Logo" class="logo" />
    </a>
</div>
<div class="main-container">
    <main>
        @Body
    </main>
</div>